:root {
  --mainColor: #fff;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: var(--mainColor);
  justify-content: center;
  align-items: center;
  text-align: center;
}

input[type="text"]{
  width: 200px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.074);
  border-radius: 0px;
  padding: 5px;
}

.answer{
  width: 200px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.067);
    border-radius: 0px;
    padding: 5px;
    background-color: rgb(180, 245, 245);
}